[data-panel] {display: none;}
[data-panel][data-state="open"] {display: block;}
[data-panel][data-state="default"][data-desktop="open"] {display: block;}

@media screen and (max-width: 479px) {
  [data-panel][data-state="default"][data-desktop="open"] {display: none;}
}
