body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  background-color: var(--panels-bg);
  font-family: var(--headings);
  color: var(--text-light);
  scrollbar-width: none;
  line-height: 1em;

  /* default scaling: enables browser zoom via rem hook */
  font-size: calc(1vw + 0.1rem);

  /* extra-large screens: disables scaling gracefully */
  @media screen and (min-width: 1600px) {font-size: 17.6px;}

  /* large touch devices: increases scale slightly */
  @media (pointer: coarse) and (hover: none) {font-size: calc(1.1vw + 0.1rem);}

  /* all small screens: scales up 4x */
  @media screen and (max-width: 479px) {font-size: calc(4vw + 0.1rem);}
}

/* lists */
li,.w-dyn-item {break-inside: avoid !important;}

/* menus */
.w-dropdown-list {overscroll-behavior: contain;}
.menu__section:last-of-type {border-bottom: 0px;}
.footer__trigger:has(~ .menu__pane.w--open) {color: var(--text-active);}
.chat__menu__toggle:has(~ .chat__menu__pane.w--open) {color: var(--text-active);}

/* forms */
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="radio"],
input[type="file"],
textarea,
select {-webkit-appearance: none;appearance: none;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
select[disabled] {background-color: #eee;opacity: 1;}
button {background-color: transparent;}

.w-checkbox-input {box-shadow: none !important;}
.w-form-label {pointer-events: none !important;}

/* videos */
video {
    display: block;
    outline: none;
    line-height: 0;
    width: 102%;
    height: 102%;
    margin-left: -2px;
    object-fit: cover;
}

/* scrollbars */
.nav, .chat__pane {scrollbar-width: none; -ms-overflow-style: none;}
.nav::-webkit-scrollbar, .chat__pane::-webkit-scrollbar {display: none;}

.chat__menu__pane::-webkit-scrollbar {display: block;width: 0.75em;}
.chat__menu__pane::-webkit-scrollbar-thumb {background-color: var(--panels-hover);}
.chat__menu__pane::-webkit-scrollbar-track {background: var(--panels-border);}

/* animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav__spinner {
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.5em;
  color: var(--text-muted);
  animation: spin 1s linear infinite;
  opacity: 0.7;
}
