:root {
  --panels-bg: hsla(219.99999999999997, 14.21%, 13.19%, 1);
  --primary: "IBM Plex Sans", sans-serif;
  --text-light: hsla(222.2222222222222, 12.98%, 57.1%, 1);
  --canvas-bg: hsla(219.99999999999997, 12.78%, 17.14%, 1);
  --nav-width: 15%;
  --panels-border: hsla(222.85714285714286, 11.94%, 10.01%, 1);
  --panels-hover: hsla(219.99999999999997, 11.11%, 19.8%, 1);
  --text-active: hsla(222.2222222222222, 100%, 95.56%, 1);
  --icon-css: #ad66ff;
  --icon-md: hsla(204.15584415584416, 100%, 68.67%, 1);
  --icon-tsx: #00a6ff;
  --icon-ts: #00a6ff;
  --icon-js: #ffed06;
  --icon-html: #d97b50;
  --icon-diff: #37ff46;
  --chat-width: 25%;
  --transparent: hsla(0, 0%, 100%, 0);
  --text-message: hsla(222.2222222222222, 18.65%, 67.55%, 1);
  --radius-sm: 0.3em;
  --canvas-hover: hsla(222, 13.92%, 26.92%, 1);
  --radius-md: 0.5em;
  --agents: "IBM Plex Mono", sans-serif;
  --tripadvisor: #00af87;
  --facebook: #3b5997;
  --linkedin: #0072b1;
  --twitter: #1da1f2;
  --yelp: #af3526;
  --pinterest: #c8232c;
  --youtube: red;
  --google: #f4b400;
  --instagram0: #f4b400;
  --instagram33: #dd2a7b;
  --instagram66: #8134af;
  --instagram100: #515bd4;
  --radius-lg: 1em;
}
