:root {
  --panels-bg: hsla(219.99999999999997, 13.35%, 13.76%, 1);
  --headings: "IBM Plex Sans", sans-serif;
  --text-light: hsla(222.2222222222222, 12.98%, 57.1%, 1);
  --canvas-bg: hsla(219.99999999999997, 12.78%, 17.14%, 1);
  --nav-width: 15%;
  --panels-border: hsla(222.85714285714286, 11.94%, 10.01%, 1);
  --panels-hover: hsla(219.99999999999997, 11.11%, 19.8%, 1);
  --icon-js: #ffed06;
  --icon-css: #ad66ff;
  --icon-md: #65c1ff;
  --text-active: hsla(222.2222222222222, 100%, 95.56%, 1);
  --chat-width: 25%;
  --transparent: hsla(0, 0%, 100%, 0);
  --text-message: hsla(222.2222222222222, 18.65%, 67.55%, 1);
  --radius-sm: 0.3em;
  --canvas-hover: hsla(222, 13.92%, 26.92%, 1);
  --radius-md: 0.5em;
  --agents: "IBM Plex Mono", sans-serif;
  --gray1: hsla(213.3333333333332, 26.2%, 92.77%, 1);
  --gray2: #b9bfc5;
  --gray3: #999fa5;
  --gray4: #797f85;
  --gray5: hsla(207.27272727272725, 8.17%, 32.05%, 1);
  --form-error: red;
  --tripadvisor: #00af87;
  --facebook: #3b5997;
  --linkedin: #0072b1;
  --twitter: #1da1f2;
  --yelp: #af3526;
  --pinterest: #c8232c;
  --youtube: red;
  --google: #f4b400;
  --instagram0: #f4b400;
  --instagram33: #dd2a7b;
  --instagram66: #8134af;
  --instagram100: #515bd4;
  --lightbox-backdrop: hsla(0, 0%, 0%, 0.8);
  --paragraphs: Jost;
  --h1-size: 4.5em;
  --h2-size: 4em;
  --h2-height: 1.1em;
  --h2-weight: 900;
  --h2-margin: 0.35em;
  --h2p-size: 1.8em;
  --h2p-height: 1.4em;
  --h2p-weight: 400;
  --h2p-margin: 1em;
  --radius-lg: 1em;
}
