body {
    background-color: var(--panels-bg);
    font-family: var(--headings);
    color: var(--text-light);
    scrollbar-width: none;
    font-size: 1vw;
    line-height: 1em;

  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }
}
