select[disabled] {
  background-color: #eee;
  opacity: 1;
}
* {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE */
}
*::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}
