/* Native */
body {-webkit-overflow-scrolling: touch;-ms-overflow-style: none;}
body::-webkit-scrollbar {display: none;}

/* Scroll */
.scroll {position: absolute; inset: 100vh 0% 0% 0%; z-index: -1; opacity: 0.1; font-size: 0.5em;}
.scroll-px {position: absolute; inset: 0% 0% auto;}
.scroll-px.scroll-px-25 {top: 25%;}
.scroll-px.scroll-px-50 {top: 50%;}
.scroll-px.scroll-px-75 {top: 75%;}
.scroll-px.scroll-px-100 {top: 100%;}

/* Captcha */
.grecaptcha-badge {display: none;}

/* Text */
.dropcaps p:first-of-type::first-letter {float:left;font-weight:bold;margin-right:.1em;font-size:var(--dropcaps-size,3em);line-height:var(--dropcaps-height,.9em);}
.crumbs li:last-child {background:none;padding:0;margin:0;}

/* Richtext */
.w-richtext-figure-type-video {border-radius:.5em !important;overflow:hidden !important;}
.w-embed:before, .w-embed:after {display:none !important;}

/* Lists */
li, .w-dyn-item {break-inside:avoid !important;}

/* Menus */
.w-dropdown-list,.w-nav-menu,div[data-reach-track='menu'] {overscroll-behavior: contain;}

/* Forms */
* {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input[type=text],input[type=email],input[type=tel],input[type=url],input[type=search],input[type=radio],input[type=file],textarea,select {-webkit-appearance:none;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
/*input:focus, button:focus {outline:0;}*/
/*input[type=url]:invalid {border: 1px solid red;}*/
button {background-color:transparent;}
.w-checkbox-input {box-shadow: none !important;}
.w-form-label {pointer-events: none !important;}

/* Videos */
video {display:block;outline:none;line-height:0;}
.video video {width:102%;height:102%;margin-left:-2px;object-fit:cover;}

/* Ecommerce */
.cart__menu {top: 4em;}

/* Transcripts */
.vlog__richtext li a {text-decoration:underline;}
.vlog__richtext ul li {background-color:#F0F0F0;background-image:none;color:#1b2229;padding-left:.55em;}
.vlog__richtext ul li:first-child {border-top-left-radius:1em;}
.vlog__richtext ul > li {border-top-right-radius:1em;border-bottom-right-radius:1em;}
.vlog__richtext ul li:last-child {border-bottom-left-radius:1em;}
.vlog__richtext ol li {margin-left: auto; padding-right:.55em;}
.vlog__richtext ol li:first-child {border-top-right-radius:1em;}
.vlog__richtext ol > li {border-top-left-radius:1em; border-bottom-left-radius:1em;}
.vlog__richtext ol li:last-child {border-bottom-right-radius:1em;}
.vlog__richtext ol li a {color:white;}
.vlog__richtext figure iframe {border-radius: .5em; width: 100%;}

/* Consent Manager */
.css-17ss3j2 {background:inherit !important;padding:inherit !important;font-family:inherit !important;font-weight:inherit !important;letter-spacing:inherit !important;font-size:inherit !important;line-height:inherit !important;}
.css-17ss3j2 p {font-size:1.3em !important;line-height:1.3em !important;margin:0 .3em 0 0 !important;}
.css-17ss3j2 > button {right:0 !important;height:100% !important;font-size:1.3em !important;padding:0 1em 0 1em !important;}

/* Twitter */
.twitter-tweet {width:auto !important;min-width:0px !important;margin:0 !important}

/* Stripe */
.ElementsApp {font-size:5vw !important;}
.__PrivateStripeElement {width:100%;}

/* Colorize */
.colorize {animation: colorize var(--colorize-duration, 20s) infinite alternate;}
.colorize-bg {animation: colorize-bg var(--colorize-bg-duration, 20s) infinite alternate;}
.colorize-hue {animation: colorize-hue 4s infinite;}
@keyframes colorize {0% {color: var(--colorize-0);} 25% {color: var(--colorize-25);} 50% {color: var(--colorize-50);} 75% {color: var(--colorize-75);} 100% {color: var(--colorize-100);}}
@keyframes colorize-bg {0% {background-color: var(--colorize-0);} 25% {background-color: var(--colorize-25);} 50% {background-color: var(--colorize-50);} 75% {background-color: var(--colorize-75);} 100% {background-color: var(--colorize-100);}}
@keyframes colorize-hue {0% {filter: hue-rotate(0deg);}50% {filter: hue-rotate(300deg);}100% {filter: hue-rotate(0deg);}}

/* Lightbox */
.w-lightbox-backdrop {background: var(--lightbox-backdrop, #ffffffc9);}
.w-lightbox-frame {border-radius: var(--lightbox-border-radius, .5em); overflow: hidden;}

/* Zoom */
img[data-action="zoom"] {cursor:zoom-in;}
.zoom-img {cursor: zoom-out; border-radius: var(--zoom-border-radius, .25em);}
.zoom-img,.zoom-img-wrap {position:relative;z-index:1000;transition:all 300ms;}
.zoom-overlay {background: var(--zoom-overlay, white);opacity:0;filter:"alpha(opacity=0)";cursor:zoom-out;z-index:420;position:fixed;top:0;left:0;right:0;bottom:0;transition:opacity 300ms;}
.zoom-overlay-open .zoom-overlay {filter:"alpha(opacity=100)";opacity:1;}

/* Selectize */
.selectize-input>input{display: inline-block !important;padding: 0 !important;min-height: 0 !important;max-height: none !important;max-width: 100% !important;margin: 0 !important;text-indent: 0 !important;border: 0 none !important;background: none !important;line-height: inherit !important;user-select: auto !important;box-shadow: none !important}
.selectize-input>input::placeholder{color:black}

/* Hide Elements with Empty Src Attributes */
img[src=''],iframe[src=''],video[src=''] {display:none}

/* Isotope */
.isotope-item:nth-child(7n+1) {width: var(--isotope-nth-child, 64.66%);}

/* Mobile Styles */
@media screen and (max-width: 479px) {
    .isotope-item:nth-child(7n+1) {width: var(--isotope-nth-child-mobile, 97%);}
}
